* {
	margin: 0;
	padding: 0;
	font-family: Helvetica;
}
*{
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);  
	-moz-tap-highlight-color:rgba(0, 0, 0, 0);  
	-ms-tap-highlight-color:rgba(0, 0, 0, 0);  
	-o-tap-highlight-color:rgba(0, 0, 0, 0);  
	tap-highlight-color:rgba(0, 0, 0, 0);  
}
body {
	 background-color: #141419;
	 font-size: 14px;
}

.woring_title{
	height: 50px;
	line-height: 50px;
	padding-left: 15px;
	color: #E74C3C;
	font-size: 0.8rem;
}

.report_list{
	background:#141419;
}

.report_list li{
	width: 90%;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #222227;
	list-style: none;
	position: relative;
	margin: 0 auto;

}



.report_list_title{
	width: 93%;
	height: 50px;
	line-height: 50px;
	font-size: 1rem;
	color: #fff;
	position: absolute;
	left: 0;
	

}

.report_list_right{
	width: 7%;
	position: absolute;
	right:0;

}	

/*.report_list_right input{
	width: 30px;
	height: 30px;
	line-height: 30px;
	-webkit-appearance:none;
	border-radius: 50%;
	border:1px solid #EB3780;
}*/

/**
* 单选框自定义样式
**/

.report_list_right label{
	border:none; 
	background-size: 20px 20px;
	padding: 10px;
}
.report_list_right input[type=radio]{
	display: none;
}
.report_list_right input[type=radio]:checked + label{
	background:url(/public/appapi/userreport/images/checked.png) no-repeat left;
	background-size: 20px 20px;
}


.report_list li.border_none{
	border: none;
}

.agreement{
	height: 50px;
	line-height: 50px;
	padding-left: 15px;
	color: #939394;
	font-size: 0.8rem;
	margin-top: 20px;
}

.agreement a{
	text-decoration: none;
	color:#939394;
}

.agreement .agree_area{
	float: left;
	width: 13px;
	height: 13px;
	line-height: 13px;
	margin-top: 17px;
	margin-right: 20px;
	border-radius: 50%;
	text-align: center;
	border:1px solid #E9377E;
	
}

.agreement .agree_area img{
	width: 8px;
	height: 8px;
	margin-top: 0px;
	display: none;
	margin-left: -1px;
}

.reportarea{
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-top: 10%;
	
}

.reportarea input{
	width: 100%;
	height: 100%;
	outline: none;
	border: none;
	-webkit-appearance:none;
	color: #fff;
	font-size: 1.1rem;
	background: #E74C3C;
}

.report_con{
	display: none;
}


/*.fl{
	float: left;
}

.fr{
	float: right;
}

.clearboth{
	clear: both;
}*/
