body{
background-color: #141419;
}
.invitation{
	width: 90%;
	padding:0 5%;
}
.invitation-title{
	width: 100%;
	height:40px;
	line-height:40px;
	font-size:1.2em;
	color:#5F5F5F;
}
.invitation-title div{
	float: left;
	
}
.invitation-title .title-left{
	text-align: left;
	width: 50%;
	

}
.invitation-title .title-right{
	text-align: right;
	width: 50%;

}
.invitation-lists{
	width: 100%;
	margin-top: 10px;
}
.invitation-lists li{
	width: 100%;
	height:79px;
	border-bottom:1px solid #202025;
	line-height:80px;
	position: relative;
}
.invitation-lists li .lists-img{
	width:60px;
	height:60px;
	
}
.invitation-lists li .lists-img img{
	width:100%;
	height:100%;
	border-radius: 30px;
}
.invitation-lists li .lists-content{
	height:60px;
	position: absolute;
    top: -14%;
    left: 75px;
}
.invitation-lists li .lists-content .content-text{
	height:30px;
	font-size:1.2em;
	color:#CCCCCC;
}
.invitation-lists li .lists-content .content-time{
	height:30px;
	font-size:1em;
	color:#666666;
}
.invitation-lists li .lists-qian{
	height: 40px;
    line-height: 40px;
    font-size: 1.2em;
    color: #F4CC3F;
    position: absolute;
    top: 22px;
    right: 0px;
}






















