* {
	margin: 0;
	padding: 0;
	font-family: Helvetica;
}
*{
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);  
	-moz-tap-highlight-color:rgba(0, 0, 0, 0);  
	-ms-tap-highlight-color:rgba(0, 0, 0, 0);  
	-o-tap-highlight-color:rgba(0, 0, 0, 0);  
	tap-highlight-color:rgba(0, 0, 0, 0);  
}
body {
	 background-color: #110D24;
	 font-size: 14px;
	 font-family: "微软雅黑";
	 width: 100%;
}


.shadow{
	color:#666666;
	width: 90%;
	padding: 0 5%;
	font-size:13px;
    height: 40px;
    line-height: 40px;
}
.service_list{
	width: 90%;
	padding: 0 5%;
}
.service_list li{
	list-style: none;
	width: 100%;
	height: 40px;
	line-height: 40px;
}
.service_list li div{
	float:left;
}
.service_list li .service_img{
	width: 40px;
	height: 40px;
	line-height: 40px;
}
.service_list li .service_img img{
	width: 26px;
	height:26px;
	position: relative;
    top: 6px;
}
.service_list li .service_text{
	color:#EEEEEE;
	font-size:15px;
	height: 40px;
	line-height: 40px;
}